html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem "Helvetica";
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/pages/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
